.heading {
    margin-top: 10px;
    text-align: left;
    font-size: 30pt;
    color: rgb(144, 200, 172);
    text-shadow: #000000;
    box-shadow: 2px;
    align-self: flex-start;
    font-family: 'Poppins';
  }
  .space{
      width: 80%;
  }
  #num{
    margin-left: 10px;
    margin-right: 10px;
}
  .navcontainer{
      display: flex;
      align-content: space-between;
      font-family: 'Poppins';
  }
  
  .navbar{ 
      display: flex;
      flex-direction: row;
      
      
  }
  .navbaritems{
      margin-top: 15px;
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      color: rgb(144, 200, 172);
      font-size: 20pt;
      font-weight: 700;
      font-family: 'Poppins';
      /* background-color: rgb(144, 200, 172);
      border-radius: 10px; */
      
      
  }
  .navbaritems:hover{
      color: #000000;
  }
  .container{
      padding: 1rem;
      margin: 1rem;
      margin-left: 2rem;
  }
  .button{
      margin-top: 6rem;
      width: 6rem;
      height: 2rem;
      border-radius: 10px;
      font-family: 'Poppins';
  }
a:link,
a:visited,
a:hover,
a:active {

  text-decoration: none;
}
.fontstyle{
    font-family: 'Poppins';
}