.heading {
    margin-top: 10px;
    text-align: left;
    font-size: 30pt;
    color: rgb(144, 200, 172);
    text-shadow: #000000;
    box-shadow: 2px;
    font-family: 'Poppins';
  }
  .container {
    align-content: space-around;
  
    align-items: center;
    display: flex;
    margin-top: 200px;
  
    flex-direction: column;
    font-family: 'Poppins';
  }
  input:active input::after{
      color: red;
      border-color: red;
  }
  a:link,
  a:visited,
  a:hover,
  a:active {
    color: #000000;
    text-decoration: none;
    font-family: 'Poppins';
  }
  input {
    width: 250px;
    border-radius: 20px;
    border-color: rgb(144, 200, 172);
    width: 250px;
    height: 30px;
    margin-top: 17px;
    margin-bottom: 30px;
  }
  .button {
    margin: 30px;
  
    text-align: center;
    color: white;
    background-color: rgb(144, 200, 172);
    border-radius: 20px;
    width: 200px;
    height: 30px;
    padding-top: 5px;
  }
  .alert {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 3rem;
    padding-right: 3rem;
    
  
  
    color:#000000;
    text-align: center;
    
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Poppins';
  }
  .alertcontent{padding-left: 10px;}
  .alerthead {
      color: red;
      font-size: 1.5em;
      font-family: 'Poppins';
  }