.heading {
    margin-top: 10px;
    text-align: left;
    font-size: 30pt;
    color: rgb(144, 200, 172);
    text-shadow: #000000;
    box-shadow: 2px;
    align-self: flex-start;
    font-family: 'Poppins';
  }
  .space{
      width: 80%;
  }
  #num{
    margin-left: 10px;
    margin-right: 10px;
}
  .navcontainer{
      display: flex;
      align-content: space-between;
  }
  
  .navbar{
      
      display: flex;
  
      flex-direction: row;
      
      
  }
  .navbaritems{
      margin-top: 15px;
      margin-left: 10px;
      margin-right: 10px;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
      text-align: center;
      color: rgb(144, 200, 172);
      font-size: 20pt;
      font-weight: 700;
      font-family: 'Poppins';
      /* color: white;
      background-color: rgb(144, 200, 172);
      border-radius: 10px; */

      
  }
  a:link,
  a:visited,
  a:hover,
  a:active {
  
    text-decoration: none;
    font-family: 'Poppins';
  }
  .navbaritems:hover{
      color: #000000;
  }
  .blockscore{
    margin-left: 5rem;
  }