


.heading {
    margin-top: 10px;
    margin-left: 2rem;
    text-align: left;
    font-size: 30pt;
    color: rgb(144, 200, 172);
    text-shadow: #000000;
    box-shadow: 2px;
  }

input {
    width: 250px;
    border-radius: 20px;
    border-color: rgb(144, 200, 172);
    width: 250px;
    height: 30px;
    margin-top: 17px;
    margin-bottom: 30px;
 }
.button {
    margin: 30px;
  
    text-align: center;
    color: white;
    background-color: rgb(144, 200, 172);
    border-radius: 20px;
    width: 200px;
    height: 30px;
    padding-top: 5px;
  }
  .container {
    align-content: space-around;
  
    align-items: center;
    display: flex;
    margin-top: 170px;
  
    flex-direction: column;
  }
a:link,
a:visited,
a:hover,
a:active {
  color: #000000;
  text-decoration: none;
}
.alert {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 3rem;
  padding-right: 3rem;
  


  color:#000000;
  text-align: center;
  
  margin-top: 10px;
  margin-bottom: 10px;
  font: 1em sans-serif;
}
.alertcontent{padding-left: 10px;}
.alerthead {
    color: red;
    font-size: 1.5em;
}