{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/guidelines.css'%}">
    <title>Guidelines</title>
  </head>
  <body>
    <div class="navcontainer">
      <div class="heading">Guidelines</div>
      <div class="space"></div>
      <nav class="navbar">
        <a class="navbaritems " href="{%url 'home'%}">Home</a>
        <a class="navbaritems">Games</a>
        <a class="navbaritems" href="{%url 'guidelines'%}">Guidelines</a>
        <a class="navbaritems" href="{%url 'logout'%}">LogOut</a>
      </nav>
    </div>
    <br>
    <div class="content">
        {%for i in data%}
        
     <dl>
      <dt><h2>{{i.id}}.&nbsp{{i.heading}}</h2></dt>
      <dd>{{i.desc}}</dd>
     </dl>
     {%endfor%}
    
    </div>
  </body>
</html>
