{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{%static 'css/home.css'%}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body style="background-color:#F9F3EE;">
  <script src="{%static 'js/formvalidate.js'%}"></script>
  
  
  <div class="navcontainer">
     <div class="heading">Welcome</div>
     <div class="space"></div>
     <nav class="navbar">
         <a class="navbaritems">Home</a>
          <a class="navbaritems" href="{%url 'training'%}">Training</a> 
         <a class="navbaritems" href="{%url 'guidelines'%}">Guidelines</a>
         <a class="navbaritems" href="{%url 'logout'%}">Logout</a>
       </nav>  
  </div> 
  <div>
    
     <br>
   <div class="container">
   <span style="display: flex;" class="fontstyle">  <h1>Answer these Questions</h1></span>
     
    {% comment %} return validate() {% endcomment %}
 

   <form id="frm" action="score" method="post" onsubmit ="return validate()"> 
      {% csrf_token %}
      {%for i in data %}

      <h3 id="qn" class="fontstyle">{{i.slnum}} . {{i.question}}</h3>
      <h4>{{i.helpdata}}<h4>
     <label for="yes" class="fontstyle">yes</label>
     
     <input type="radio" name="ans{{i.slnum}}" id="yes" value="yes">
     <label for="no">no</label>
     <input type="radio" name="ans{{i.slnum}}" id="no" value="no">
     {%endfor%}
     <br><br>
     <button class="button" id="sub" name="subbtn" type="submit">submit</button>
     </form>
     
    
   </div>
 
  </div>
    

 </body>
</html>