{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="{%static 'css/home.css'%}">
</head>
<body>
  
  
  <div class="navcontainer">
     <div class="heading">Welcome</div>
     <div class="space"></div>
     <nav class="navbar">
         <a class="navbaritems" href="{%url 'home'%}">Home</a>
         {% comment %} <a class="navbaritems">Games</a> {% endcomment %}
         <a class="navbaritems" href="{%url 'guidelines'%}">Guidelines</a>
         <a class="navbaritems" href="{%url 'logout'%}">LogOut</a>
       </nav>  
  </div> 
  <div>
    
     <br>
   <div class="container">
   <span style="display: flex;">  <h1>Answer these Questions</h1></span>
     <h3 id="qn"></h3>
    
 
     {{ data|json_script:'data' }}
     {% comment %} <form id="frm" action="score" method="post">
      {% csrf_token %}
       {% endcomment %}
  
     <label for="check1">yes</label>
     
     <input type="radio" name="ans" id="yes" value="yes">
     <label for="check1">no</label>
     <input type="radio" name="ans" id="no" value="no" checked>
     <br><br>
     <button class="button" id="btn" name="btn" onclick="calcscore()">Next</button>
     {% comment %} <button class="button" id="sub" name="subbtn" onclick="submit" type="submit">submit</button> {% endcomment %}
     {% comment %} </form> {% endcomment %}
     
    
   </div>
 
  </div>
    
  <script src="{%static 'js/home.js'%}"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 </body>
</html>