{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
</head>
<div class="container">
    <div class="heading"> Welcome to ASD parents helpline</div>
    <div class="parent">
        <a href="/register" target="_self" ><div class="register child">Register</div></a>
       <a href="/login" target="_self"> <div class="login child">Login</div></a>


    </div>
</div>


<body>
    
</body>
</html>