{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/level2.css'%}" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
  </head>
  <body style="background-color:#F9F3EE;">
    <div class="navcontainer">
      <div class="heading">Level2</div>
      <div class="space"></div>
      <nav class="navbar">
        <a class="navbaritems" href="{%url 'home'%}">Home</a>
        <a class="navbaritems" href="{%url 'training'%}">Training</a>
        <a class="navbaritems" href="{%url 'guidelines'%}">Guidelines</a>
        <a class="navbaritems" href="{%url 'logout'%}">Logout</a>
      </nav>
    </div>
    <br />
    <div class="content">
      <img id="img" alt="image" class="image" />

      <div  style='margin-left:10rem;align-items: center;'>
        <div>
          <label id="opt11" for="opt1" class="leb"></label>
          <input type="radio" name="rad" id="opt1" />
          <label id="opt22" for="opt2" class="leb"></label>
          <input type="radio" name="rad" id="opt2" />
          <label id="opt33" for="opt3" class="leb"></label>
          <input type="radio" name="rad" id="opt3" />
          <label id="opt44" for="opt4" class="leb"></label>
          <input type="radio" name="rad" id="opt4" />
          
        </div>
        <button id="next" class="button" onClick="return validate()" style="margin-top: 2rem;align-self:center;">next</button>
        
      </div>
    </div>

    <script src="{%static 'js/level2.js'%}"></script>
  </body>
</html>
