{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/training.css'%}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    
  
  </head>
  <body>
    
<div class="navcontainer">
      <div class="heading">Training</div>
      <div class="space"></div>
      <nav class="navbar">
        <a class="navbaritems " href="{%url 'home'%}">Home</a>
        <a class="navbaritems">Training</a>
        <a class="navbaritems" href="{%url 'guidelines'%}">Guidelines</a>
        <a class="navbaritems" href="{%url 'logout'%}">Logout</a>
      </nav>
    </div>
    <br>
    <div class="content">
      

    
      <img id="img" alt="image" class="image">
     <div>
      <div id='emotion'></div>
      <button id="prev" class="button" onClick="prev()">prev</button>
      <button id="next" class="button" onClick="next()">next</button>
     </div>

      
    
    <div>
    </div>
      
    </div>


 
 
    <script src="{%static 'js/level1.js'%}"></script>
  </body>
</html>

