{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/scorepage.css'%}" />
    <title>Score</title>
  </head>
  <body >
    <div class="navcontainer">
        <div class="heading">Score</div>
        <div class="space"></div>
        <nav class="navbar">
            <a class="navbaritems" href="{%url 'home'%}">Home</a>
            <a class="navbaritems" >Training</a>
            <a class="navbaritems" href={%url 'guidelines'%}>Guidelines</a>
            <a class="navbaritems" href={%url 'logout'%}>Logout</a>
          </nav>  
     </div> 

     <div>
      <h2>Your score is {{score}}</h2>
     </div>
     <div>
      <button type="button">Generate pdf</button>

    <div>
  
  </body>
</html>
