{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/scorepage.css'%}" />
    <title>Score</title>
  </head>
  <body >
    <div class="navcontainer">
        <div class="heading">Score</div>
        <div class="space"></div>
        <nav class="navbar">
            <a class="navbaritems" href="{%url 'home'%}">Home</a>
            <a class="navbaritems" >Training</a>
            <a class="navbaritems" href={%url 'guidelines'%}>Guidelines</a>
            <a class="navbaritems" href={%url 'logout'%}>Logout</a>
          </nav>  
     </div> 

     <div class='blockscore'>
      <h2>Your score is {{score}}</h2>

      {%if score > 5 %}
      <h3>The score indicates medium risk.this means you should take your child to his or her doctor for a follow-up screening.You can also seek early intervension services for yoiur child</h3>
      {%else%}
      <h3>The score indicates high risk.this means you should take your child to his or her doctor for a follow-up screening.You can also seek early intervension services for yoiur child</h3>
      {%endif%}

   
     {%for i in response %}

     <h3 id="qn">{{i.id}} . {{i.question}}</h3>
     <h4>{{i.helpdata}}<h4>
      <h4>you answered : {{i.answer}}</h4>
    
    
    {%endfor%}
   
      <a href={%url 'generate_pdf'%}><button type="button" >Generate pdf</button></a>

    <div>
  
  </body>
</html>
