{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/training.css'%}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    
  
  </head>
  <body style="background-color:#F9F3EE;">
    
<div class="navcontainer">
      <div class="heading">Training</div>
      <div class="space"></div>
      <nav class="navbar">
        <a class="navbaritems " href="{%url 'home'%}">Home</a>
        <a class="navbaritems">Training</a>
        <a class="navbaritems" href="{%url 'guidelines'%}">Guidelines</a>
        <a class="navbaritems" href="{%url 'logout'%}">Logout</a>
      </nav>
    </div>
    <br>
    <div class="content">
      

    
      <img id="img" src="" alt="image" class="image">
      <div style="width:10rem"></div>
     <div>
      <div id="emotion" style="color: #1a535c;text-align:center;font-size:3rem;font-family: 'Poppins';">fear</div>
      <div style="margin-top:5rem">
      <button id="prev" class="button" onClick="prev()">PREV</button>
      <button id="next" class="button" onClick="next()">NEXT</button>
      <a href="{%url 'level2'%}"> <button id="l2" class="button2 display" >LEVEL 2</button></a>
     
      </div>
     </div>    

      
    
    <div>
    </div>
      
    </div>


 
 
    <script src="{%static 'js/level1.js'%}"></script>
  </body>
</html>

